In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
pd.__version__

'2.2.3'

In [4]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.10)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [5]:
# checking directory
import os
print(os.getcwd())

/home/nico/data-engineering-zoomcamp/2_docker_sql/ny_taxi_postgres_data/base

In [6]:
#Read the CSV file checking the rows
csv_file_path = '/home/nico/data-engineering-zoomcamp/2_docker_sql/green_tripdata_2019-10.csv.gz'
csv_file_path1 = '/home/nico/data-engineering-zoomcamp/2_docker_sql/taxi_zone_lookup.csv'
df = pd.read_csv(csv_file_path)
df1 = pd.read_csv(csv_file_path1)

# Get the number of rows in the CSV
row_count = len(df)
print(f'The CSV file has {row_count} rows.')

row_count1 = len(df1)
print(f'The CSV file has {row_count1} rows.')

The CSV file has 476386 rows.
The CSV file has 265 rows.

/tmp/ipykernel_206851/2272091924.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)

In [7]:
df = pd.read_csv(csv_file_path, nrows=1000)
print(df.dtypes)

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [8]:
df = pd.read_csv('/home/nico/data-engineering-zoomcamp/2_docker_sql/green_tripdata_2019-10.csv.gz', nrows=5)
df1 = pd.read_csv('/home/nico/data-engineering-zoomcamp/2_docker_sql/taxi_zone_lookup.csv', nrows=5)

In [9]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0,NaN,0.3,19.30,2,1,0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0,NaN,0.3,9.05,2,1,0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0,NaN,0.3,22.80,2,1,0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0,NaN,0.3,6.80,2,1,0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0,NaN,0.3,13.56,1,1,0

In [10]:
df1

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               5 non-null      int64
 1   lpep_pickup_datetime   5 non-null      object
 2   lpep_dropoff_datetime  5 non-null      object
 3   store_and_fwd_flag     5 non-null      object
 4   RatecodeID             5 non-null      int64
 5   PULocationID           5 non-null      int64
 6   DOLocationID           5 non-null      int64
 7   passenger_count        5 non-null      int64
 8   trip_distance          5 non-null      float64
 9   fare_amount            5 non-null      float64
 10  extra                  5 non-null      float64
 11  mta_tax                5 non-null      float64
 12  tip_amount             5 non-null      float64
 13  tolls_amount           5 non-null      int64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  5 non-null      float64
 16  total_amount           5 non-null      float64
 17  payment_type           5 non-null      int64
 18  trip_type              5 non-null      int64
 19  congestion_surcharge   5 non-null      int64
dtypes: float64(8), int64(9), object(3)
memory usage: 928.0+ bytes

In [12]:
#parsing to datetime specific columns
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               5 non-null      int64
 1   lpep_pickup_datetime   5 non-null      datetime64[ns]
 2   lpep_dropoff_datetime  5 non-null      datetime64[ns]
 3   store_and_fwd_flag     5 non-null      object
 4   RatecodeID             5 non-null      int64
 5   PULocationID           5 non-null      int64
 6   DOLocationID           5 non-null      int64
 7   passenger_count        5 non-null      int64
 8   trip_distance          5 non-null      float64
 9   fare_amount            5 non-null      float64
 10  extra                  5 non-null      float64
 11  mta_tax                5 non-null      float64
 12  tip_amount             5 non-null      float64
 13  tolls_amount           5 non-null      int64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  5 non-null      float64
 16  total_amount           5 non-null      float64
 17  payment_type           5 non-null      int64
 18  trip_type              5 non-null      int64
 19  congestion_surcharge   5 non-null      int64
dtypes: datetime64[ns](2), float64(8), int64(9), object(1)
memory usage: 928.0+ bytes

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
engine.connect()

In [16]:
# generating DDL
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount BIGINT,
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge BIGINT
)

In [17]:
# generating DDL
print(pd.io.sql.get_schema(df1, name='lookup_data', con=engine))

CREATE TABLE lookup_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [18]:
# creating tables in the DB
df.head(n=0).to_sql(name='green_taxi_data' , con=engine, if_exists='replace')
df1.head(n=0).to_sql(name='lookup_data' , con=engine, if_exists='replace')

0

In [19]:
from time import time

In [20]:
# data ingestion for table green_taxi_data , in chunksizes of 100000 and parsing col index 3 to str, because there were some issues on the raw data with 

total_processed_rows = 0
df_iter = pd.read_csv('/home/nico/data-engineering-zoomcamp/2_docker_sql/green_tripdata_2019-10.csv.gz', chunksize=100000, dtype={3: str})
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name='green_taxi_data' , con=engine, if_exists='append')

# Track the number of rows processed
        total_processed_rows += len(df)
        
        t_end = time()
        print('Processed %.3f seconds and %d rows' % (t_end - t_start, len(df)))
        
      
    except StopIteration:
        print("All data processed correctly.")
        break

Processed 10.986 seconds and 100000 rows
Processed 11.734 seconds and 100000 rows
Processed 10.768 seconds and 100000 rows
Processed 11.025 seconds and 100000 rows
Processed 6.910 seconds and 76386 rows
All data processed correctly.

In [21]:
# same story, but look_up dataset is smaller, so we can do it straight ahead without the iterator
#df_iter1 = pd.read_csv('/home/nico/data-engineering-zoomcamp/2_docker_sql/taxi_zone_lookup.csv', chunksize=100000)
#while True:
 #   try:
  #      t_start = time()
   #     df1 = next(df_iter1)
    #    df1.to_sql(name='lookup_data' , con=engine, if_exists='append')
     #   t_end = time()
      #  print('another brick in the wall... it took %.3f seconds' % (t_end-t_start))
    #except StopIteration:
     #   print("All data processed correctly.")
      #  break

In [22]:
# Query to get row count from the database
count_query = "SELECT COUNT(*) FROM green_taxi_data"
count_result = pd.read_sql(count_query, con=engine)

# Get the count of rows
db_count = count_result.iloc[0, 0]
df = pd.read_csv(csv_file_path)
row_count = len(df)

print(row_count)
print(db_count)
# Compare with the processed row count
if db_count == row_count:
    print("Row counts match!", db_count)
else:
    print("Row counts do not match.")

476386
476386
Row counts match! 476386

/tmp/ipykernel_206851/1452683953.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)

In [23]:
df1 = pd.read_csv('/home/nico/data-engineering-zoomcamp/2_docker_sql/taxi_zone_lookup.csv')

t_start = time()
df1.to_sql(name='lookup_data', con=engine, if_exists='append')
t_end = time()

print('Data ingestion completed... it took %.3f seconds' % (t_end - t_start))

Data ingestion completed... it took 0.021 seconds

In [24]:
# Query to get row count from the database
count_query1 = "SELECT COUNT(*) FROM lookup_data"
count_result1 = pd.read_sql(count_query1, con=engine)

# Get the count of rows
db_count1 = count_result1.iloc[0, 0]
df1 = pd.read_csv(csv_file_path1)
row_count1 = len(df1)

print(row_count1)
print(db_count1)
# Compare with the processed row count
if db_count1 == row_count1:
    print("Row counts match!", db_count1)
else:
    print("Row counts do not match.")

265
265
Row counts match! 265

In [25]:
#doing some data alanlysis 
# Question 3. Trip Segmentation Count
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

# Up to 1 mile
# In between 1 (exclusive) and 3 miles (inclusive),
# In between 3 (exclusive) and 7 miles (inclusive),
# In between 7 (exclusive) and 10 miles (inclusive),
# Over 10 miles

In [26]:

q3_a = """
    SELECT COUNT(*) 
    FROM green_taxi_data 
    WHERE DATE(lpep_pickup_datetime) >= '2019-10-01' 
      AND DATE(lpep_pickup_datetime) < '2019-11-01' 
      AND trip_distance  <= 1
"""
q3_b = """
    SELECT COUNT(*) 
    FROM green_taxi_data 
    WHERE DATE(lpep_pickup_datetime) >= '2019-10-01' 
      AND DATE(lpep_pickup_datetime) < '2019-11-01' 
      AND trip_distance > 1
      AND trip_distance <= 3
"""
q3_c = """
    SELECT COUNT(*) 
    FROM green_taxi_data 
    WHERE DATE(lpep_pickup_datetime) >= '2019-10-01' 
      AND DATE(lpep_pickup_datetime) < '2019-11-01' 
      AND trip_distance > 3
      AND trip_distance <= 7
"""
q3_d = """
    SELECT COUNT(*) 
    FROM green_taxi_data 
    WHERE DATE(lpep_pickup_datetime) >= '2019-10-01' 
      AND DATE(lpep_pickup_datetime) < '2019-11-01' 
      AND trip_distance > 7
      AND trip_distance <= 10
"""
q3_e = """
    SELECT COUNT(*) 
    FROM green_taxi_data 
    WHERE DATE(lpep_pickup_datetime) >= '2019-10-01' 
      AND DATE(lpep_pickup_datetime) < '2019-11-01' 
      AND trip_distance > 10
"""

#running queries
q3_a_result = pd.read_sql(q3_a, con=engine)
q3_b_result = pd.read_sql(q3_b, con=engine)
q3_c_result = pd.read_sql(q3_c, con=engine)
q3_d_result = pd.read_sql(q3_d, con=engine)
q3_e_result = pd.read_sql(q3_e, con=engine)

#printing results
print("Up to 1 mile:", q3_a_result.iloc[0, 0])
print("1 to 3 miles:", q3_b_result.iloc[0, 0])
print("3 to 7 miles:", q3_c_result.iloc[0, 0])
print("7 to 10 miles:", q3_d_result.iloc[0, 0])
print("Over 10 miles:", q3_e_result.iloc[0, 0])

Up to 1 mile: 104830
1 to 3 miles: 198995
3 to 7 miles: 109642
7 to 10 miles: 27686
Over 10 miles: 35201

In [ ]:
#there is some sort of precision issue with the answers to Q3

In [27]:
#Question 4. Longest trip for each day
# Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.

# Tip: For every day, we only care about one single trip with the longest distance.
q4 = """SELECT 
        DATE(lpep_pickup_datetime) AS day, 
        MAX(trip_distance) AS max_trip_distance
        FROM green_taxi_data
        GROUP BY day
        ORDER BY max_trip_distance DESC
        LIMIT 1"""
q4_result = pd.read_sql(q4, con=engine)
print(q4_result.iloc[0,0])

2019-10-31

In [30]:
#Question 5.

q5 = """SELECT "Zone", sum(t1.total_amount) as total_amount 
        FROM green_taxi_data as t1 
        LEFT join lookup_data as t2 
        ON t1."PULocationID"=t2."LocationID" 
        WHERE DATE(t1.lpep_pickup_datetime)='2019-10-18' 
        GROUP BY "Zone" 
        HAVING sum(t1.total_amount)>13000 
        ORDER BY total_amount DESC 
        LIMIT 3;"""
q5_result = pd.read_sql(q5, con=engine)
print(q5_result.iloc[0,0])

East Harlem North

In [ ]:
#root@localhost:ny_taxi> select "Zone", sum(t1.total_amount) as total_amount from green_taxi_data as t1 left join lookup_data as t2 on t1."PULocationID"=t2."LocationID" where date(t1.lpep_pickup_datetime)='2019-1
# 0-18' GROUP BY "Zone" HAVING sum(t1.total_amount)>13000 ORDER BY total_amount desc limit 3;
# +---------------------+--------------------+
# | Zone                | total_amount       |
# |---------------------+--------------------|
# | East Harlem North   | 18686.680000000088 |
# | East Harlem South   | 16797.260000000068 |
# | Morningside Heights | 13029.790000000034 |
# +---------------------+--------------------+
#SELECT 3
#Time: 0.047s

In [ ]:
#Question 6. Largest tip
#For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?

In [31]:
q6 = """SELECT 
        t2_d."Zone" AS dropoff_zone,
        MAX(t1.tip_amount) AS largest_tip
        FROM green_taxi_data AS t1
        LEFT JOIN lookup_data AS t2_p ON t1."PULocationID" = t2_p."LocationID"
        LEFT JOIN lookup_data AS t2_d ON t1."DOLocationID" = t2_d."LocationID"
        WHERE t2_p."Zone" = 'East Harlem North' 
        AND EXTRACT(MONTH FROM t1.lpep_pickup_datetime) = 10
        AND EXTRACT(YEAR FROM t1.lpep_pickup_datetime) = 2019
        GROUP BY t2_d."Zone"
        ORDER BY largest_tip DESC
        LIMIT 1;"""
q6_result = pd.read_sql(q6, con=engine)
print(q6_result.iloc[0,0])

JFK Airport